Nachos1/*/*/* linguist-documentation
Nachos2/*/*/* linguist-documentation
Nachos3/*/*/* linguist-documentation

Nachos1/nachos-4.0/code/*/* linguist-documentation=false
Nachos2/nachos-4.0/code/*/* linguist-documentation=false
Nachos3/nachos-4.0/code/*/* linguist-documentation=false
